.services {
  padding: 31px 0 52.31px;
  h2 {
    margin-bottom: 29.69px;
  }
  p {
    padding: 4.69px;
    font-size: 2.4rem;
  }
  &-items {
    display: flex;
    text-align: center;
    justify-content: center;
    div {
      width: 25%;
      margin: 20px;

      i {
        font-size: 4.2rem;
        padding: 10px;
      }
    }
  }

  @media (min-width: 0px) and (max-width: 780px) {
    padding: 28px 0 22.31px;
    &-items {
      flex-direction: column;
      align-items: center;
      div{
        width: 50%;
        margin: 7.5px;
        p{
          font-size: 1.6rem;
        }
      }
    }

  }
}
